parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        - '#Method .* return type has no value type specified in iterable type array.*#'
        - '#Property .* type has no value type specified in iterable type array.*#'
        - '#Method .* has parameter .* with no value type specified in iterable type array.*#'
